{
 :http-options {:throw-exceptions true :debug false :debug-body false
                :socket-timeout 1500 :conn-timeout 1500}

 :endpoint "http://marc2rdf.deichman.no/sparql"
 :dataset "http://data.deichman.no/books"

 :index-log "index.log"
 :app-log "app.log"
 }